# Dependencies
node_modules/

# Next.js
/.next/
/out/

# Environment variables
.env
.env.local
.env*.local
.env.production

# Logs
*.log
npm-debug.log*

# System
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Build / cache
dist/
.cache/

# Vercel
.vercel

# TypeScript
next-env.d.ts
*.tsbuildinfo

# Temp
css-extracted.css
